<p>Hey, <%= fullname %>,</p>

<p>Your password reset was successful. Login with your new password.</p>
<p>If you did not make this change, please contact us immediately.</p>
<p>Thank you.</p>
<p>Regards,</p>
<p>Brints Group</p>