<p>Hooray! <%= fullname %>,</p>

<p>We are super excited to welcome you to the Brints Group Estate Service. You can upload your available property and
    users will reach out to you to commence transaction. We are a company that delights in respect and honesty and to
    keep our customers protected, we thoroughly vet every single property to ensure its authenticity.</p>

<p>Here are your account details</p>
<ul>
    <li>Email: <%= email %>
    </li>
    <li>Login Url: <%= login_url %>
    </li>
</ul>

Best Regards
Brints Group Support Team